<%- include("partials/header") %>

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                IMDB
              </a>
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Oops...</h1>
        <p class="lead">The keyword you entered contain too many results, please specify the movie's name.</p>
        <hr class="my-4">
        <a class="btn btn-primary" href="/">Search again</a>
        </div>
      </div>

<%- include("partials/footer") %>
