<%- include("partials/header") %>

<nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                IMDB
              </a>
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex temporibus fuga quis magnam quia enim aspernatur odit voluptatibus deserunt quas.</p>
        <hr class="my-4">
            <h1 class="display-4">Search For a Movie</h1>
                <form action="/results" method="GET">
                    <input type="text"  class="form-control mr-sm-2" style="width: 128px;" placeholder="Movie's name" name="search">
                    <button type="submit" class="btn btn-primary" style="margin-top: 11px;">search</button>
                </form>
        </div>
      </div>

<%- include("partials/footer") %>